<!-- Pricing Start -->
<section class="section bg-light" id="pricing">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="text-center mb-5">
          <h3 class="title mb-3">Choisissez Votre  Plan</h3>
          <p class="text-muted font-size-15">Contactez-Nous Sans Tarder !<br>
            De Tels Rabais Ne Sont Pas Eternels.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="pricing-box rounded text-center p-4">
          <div class="pricing-icon-bg my-4">
            <i class="mdi mdi-home-variant h1"></i>
          </div>
          <h4 class="title mb-3">Essentiel</h4>
          <h1 class="font-weight-bold mb-0"><b><sup class="h4 mr-2 font-weight-bold">$</sup>59</b></h1>
          <p class="text-muted font-weight-semibold"> / Mois</p>
          <ul class="list-unstyled pricing-item mb-4">
            <li class="text-muted">Site Web Vitrine Gratuit  </li>
            <li class="text-muted">Gestion du Site Web et des Réseaux Sociaux
(Facebook, Instagram...)</li>
            <li class="text-muted">E-Marketing</li>
          </ul>
          <a href="javascript: void(0);" class="btn btn-outline-primary pr-btn">Choisir</a>
          <div class="mt-4">
            <div class="hero-bottom-img">
              <img src="assets/images/pricing-bottom-bg.png" alt="" class="img-fluid d-block mx-auto">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="pricing-box rounded text-center active p-4">
          <div class="pricing-icon-bg my-4">
            <i class="mdi mdi-home-modern h1"></i>
          </div>
          <h4 class="title mb-3">Affaires</h4>
          <h1 class="font-weight-bold mb-0"><b><sup class="h4 mr-2 font-weight-bold">$</sup>99</b></h1>
          <p class="text-muted font-weight-semibold">/ Mois</p>
          <ul class="list-unstyled pricing-item mb-4">
            <li class="text-muted">Site Web Commercial Gratuit </li>
            <li class="text-muted"> Vidéo Promotionnelle Gratuite</li>
            <li class="text-muted">Gestion du Site Web et des  Réseaux Sociaux
(Facebook, Instagram...)</li>
            <li class="text-muted">E-Marketing</li>
          </ul>
          <a href="javascript: void(0);" class="btn btn-primary pr-btn">Choisir</a>
          <div class="mt-4">
            <div class="hero-bottom-img">
              <img src="assets/images/pricing-bottom-bg.png" alt="" class="img-fluid d-block mx-auto">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="pricing-box rounded text-center p-4">
          <div class="pricing-icon-bg my-4">
            <i class="mdi mdi-castle h1"></i>
          </div>
          <h4 class="title mb-3">Personnalisé</h4>
          <h1 class="font-weight-bold mb-0"></h1>

          <ul class="list-unstyled pricing-item mb-4">
            <h1 class="font-weight-bold mb-0"> <b><sup class="h4 mr-2 font-weight-bold"></sup>Développez
              un Plan
            Sur Mesure</b> </h1>

          </ul>
          <a href="javascript: void(0);" class="btn btn-outline-primary pr-btn">Choisir</a>
          <div class="mt-4">
            <div class="hero-bottom-img">
              <img src="assets/images/pricing-bottom-bg.png" alt="" class="img-fluid d-block mx-auto">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Pricing End -->
