<!-- Features Start -->
<section class="section bg-light feather-bg-img" style="background-image: url(assets/images/features-bg-img.png);"
  id="features">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="text-center mb-5">
          <h3 class="title mb-3">À Propos</h3>
          <p class="text-muted font-size-15">.</p>
        </div>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="mb-4 mb-lg-0">
          <img src="assets/images/features-img.png" alt="" class="img-fluid d-block mx-auto">
        </div>
      </div>

      <div class="col-lg-5 offset-lg-1">
        <p class="font-weight-medium text-uppercase mb-2"><i
            class="mdi mdi-chart-bubble h2 text-primary mr-1 align-middle"></i> Developpement  </p>
        <h3 class="font-weight-semibold line-height-1_4 mb-4">Nous créons des sites web et applications mobiles de hautes qualités et uniques en leurs genres <b></b>  <b></b>
            <b> </b></h3>
        <p class="text-muted font-size-15 mb-4">Rio Fresco développe des sites web complet et accessible ses clients.  Nous offrons la possibilité ‘’clés en main’’ de manière à les rendre le plus autonome possible. Nous nous aussi occupons du référencement SEO et restons disponible pendant et après notre contrat.</p>
        <p class="text-muted mb-2">
          <i-feather class="icon-xs mr-1" name="layout"></i-feather> Rio Fresco crée également des applications mobiles sur plusieurs systèmes d’exploitation (Android, Apple…) et pour toutes sortes de projets
        </p>
        <p class="text-muted">
          <i-feather class="icon-xs mr-1" name="life-buoy"></i-feather> Nous sommes une agence de création numérique. Rio Fresco s’occupe du développement des outils numériques et des services digitaux qui vont avec.
        </p>

      </div>
    </div>
  </div>
</section>

<section class="section feather-bg-img" style="background-image: url(assets/images/features-bg-img-1.png)">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5">
        <p class="font-weight-medium text-uppercase mb-2"><i
            class="mdi mdi-chart-bubble h2 text-primary mr-1 align-middle"></i> E-Marketing</p>
        <h3 class="font-weight-semibold line-height-1_4 mb-4">Nous proposons des solutions Marketing Numériques à l’ordre du jour et efficace <b> </b>  <b>
            </b>.</h3>
        <!-- <h3 class="font-weight-semibold line-height-1_4 mb-4">Build <b>community</b> & <b>conversion</b> with our suite of <b>social tool</b></h3> -->
        <p class="text-muted font-size-15 mb-4">Rio Fresco s’occupe de la visibilité de votre Entreprise en ligne. À travers nos contenus visuels de qualité et outils promotionnels, on assure votre présence sur les différentes plateformes de réseaux sociaux et autres.</p>
        <p class="text-muted mb-2">
          <i-feather class="icon-xs mr-1" name="server"></i-feather> Faites appelle à nous si vous souhaitez promouvoir votre produit ou service.
        </p>
        <!-- <p class="text-muted">
          <i-feather class="icon-xs mr-1" name="rss"></i-feather> Cras ultricies mi eu turpis hendrerit
          fringilla.
        </p> -->

      </div>
      <div class="col-lg-6 offset-lg-1">
        <div class="mt-4 mt-lg-0">
          <img src="assets/images/features-img-1.png" alt="" class="img-fluid d-block mx-auto">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Features End -->
